@media only screen and (max-width: 1280px) {
    header {
        border-bottom: 4px solid red;
    }
    menu {
        display: block;
        left: -100%;
        position: fixed;
        top: calc(10vh + 4px);
        background: #1a1917;
        transition-duration: 500ms;
        width: 100vw;
        height: 100%;
        z-index: -1;
    }
    .menuItem {
        display: block;
        border-bottom: 1px solid rgb(90, 90, 90);
    }
    .logoLink {
        left: 10px;
    }
    .menuMob {
        display: block;
        position: absolute;
        height: 50%;
        top: 25%;
        right: 20px;
        transition-duration: 500ms;
    }
    .closeMenuMob {
        display: block;
        position: fixed;
        height: 7vh;
        top: 1.7vh;
        right: -20%;
        transition-duration: 300ms;
      }
    .slider {
        background-position-x: 54%;
    }
}
