* {
    margin: 0;
    padding: 0;
    --whiteColor: rgb(255, 255, 255);
    --redColor: rgb(255, 0, 0);
}
html, body {
    font-family: sans-serif;
    background-color: var(--whiteColor);
    scroll-behavior: smooth;
}
.show {
  left: 0;
}
.hide {
  left: -100%;
}
.menuBar {
  display: none;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #1a1917;
  vertical-align: middle;
  justify-content: center;
  z-index: 9999;
}
.logoLink {
  position: fixed;
  left: 2em;
  color: var(--whiteColor);
  text-decoration: none;
  font-size: 2em;
  line-height: 10vh;
  transition-duration: 500ms;
  z-index: 9999;
}
.logoLink:hover {
  color: var(--redColor);
  text-shadow: 0 0 2px var(--redColor);
}
menu {
  display: flex;
  vertical-align: middle;
}
.menuItem {
  box-sizing: border-box;
  line-height: 10vh;
  padding: 5px;
  color: var(--whiteColor);
  text-decoration: none;
  font-weight: 500;
  transition-duration: 500ms;
  text-transform: uppercase;
  margin-left: 2vw;
  margin-right: 2vw;
  z-index: 0;
}
.menuItem:hover {
  color: var(--redColor);
  text-shadow: 0 0 2px var(--redColor);
}
.slider {
  position: relative;
  top: 5vh;
  left: 0;
  height: 92.2vh;
  background-image: url('../img/photo/1.webp');
  background-size: cover;
}
.fiveBlock {
  display: flex;
}
.oneFive {
  display: flex;
  flex-wrap: wrap;
}
.oneFive, .oneFive1 {
  height: 50vw;
  width: 50vw;
}
.oneFive1 {
  background-image: url('../img/photo/3.jpg');
  background-size: cover;
}
.twoFive {
  height: 25vw;
  width: 25vw;
  border: 1px solid black;
}

