* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}