@import "helper.css";
@import "flex.css";
@import "animations.css";
* {
  --whiteColor: rgb(255, 255, 255);
  --redColor: rgb(255, 0, 0);
  --bgColor: #1a1917;
}
html, body {
  font-family: sans-serif;
  background-color: var(--whiteColor);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.menuMob {
  display: none;
}
.closeMenuMob {
  display: none;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: var(--bgColor);
  vertical-align: middle;
  justify-content: center;
  z-index: 9999;
}
.logoLink {
  position: fixed;
  left: 2em;
  color: var(--whiteColor);
  text-decoration: none;
  font-size: 2em;
  line-height: 10vh;
  transition-duration: 500ms;
  z-index: 9999;
}
.logoLink:hover {
  color: var(--redColor);
  text-shadow: 0 0 2px var(--redColor);
}
menu {
  display: flex;
  vertical-align: middle;
}
.menuItem {
  box-sizing: border-box;
  line-height: 10vh;
  padding: 5px;
  color: var(--whiteColor);
  text-decoration: none;
  font-weight: 500;
  transition-duration: 500ms;
  text-transform: uppercase;
  margin-left: 2vw;
  margin-right: 2vw;
  z-index: 0;
}
.menuItem:hover {
  color: var(--redColor);
  text-shadow: 0 0 2px var(--redColor);
}
#content {
  margin-top: 7vh;
}
.slider {
  position: relative;
  top: 7vh;
  left: 0;
  height: 92vh;
  background-image: url('../img/photo/1.webp');
  background-size: cover;
}
#content div {
  height: 100vh;
}
.first {
  background-image: url('../img/photo/3.jpg');
  background-size: cover;
  animation: bgContrast 5s infinite;
}
.second {
  max-height: 50vh!important;
}
.second div {
  vertical-align: top;
  display: inline-block;
  height: 100%!important;
  width: 24.8vw;
}
.third {
  background-image: url('../img/photo/2.jpg');
  background-size: cover;
}
.fourth {
  background-image: url('../img/photo/4.jpg');
  background-size: cover;
  animation: bgBlur 5s infinite;
}


